@page "/"
@using BlazorDateRangePicker
@using BlazorStrap
@using ChartJs.Blazor.Charts


@inherits IndexBase;

    <BSContainer IsFluid="true" Class="bg-white">
        <BSBasicForm>
            <BSRow>
                <BSCol XS="5" Class="p-1">
                    <!--Filter-->
                    <BSFormGroup>
                        <!--<BSLabel For="exampleFormControlSelect1">Example select</BSLabel>-->
                        <BSBasicInput class="form-control form-control-sm" Id="exampleFormControlSelect1" InputType="InputType.Select" Value="string.Empty">
                            <option selected="selected">Device001</option>
                            <option>Device002</option>
                            <option>Device003</option>
                            <option>Device004</option>
                            <option>Device005</option>
                        </BSBasicInput>
                    </BSFormGroup>
                </BSCol>
                <BSCol XS="3" Class="p-1">
                    <DateRangePicker class="form-control form-control-sm" OnRangeSelect="OnRangeSelect" @bind-StartDate="StartDate" @bind-EndDate="EndDate" />
                </BSCol>
                <BSCol XS="2" Class="p-1">
                    <BSButton class="form-control form-control-sm" ButtonType="ButtonType.Submit" IsActive="true" Color="Color.Primary">CERCA</BSButton>
                </BSCol>
                <BSCol XS="2" Class="p-1">
                    &nbsp;
                </BSCol>
            </BSRow>
        </BSBasicForm>

        <BSRow>
            <BSCol XS="10" Class="p-1">
                <!--Telemetry-->
                <BSCard>
                    <BSCard CardType="CardType.Header">Process Control Variables</BSCard>
                    <BSCard CardType="CardType.Body">
                        <ChartJsLineChart @ref="_lineChartJs" Config="@_lineConfig" Width="600" Height="300" />
                    </BSCard>
                </BSCard>
            </BSCol>

            <BSCol XS="2" Class="p-1">
                <BSCard Color="Color.Primary" Class="m-2">
                    <BSCard CardType="CardType.Body">
                        <BSCard CardType="CardType.Title">Operational Status</BSCard>
                        <BSCard CardType="CardType.Text"><h1>@Twin.OperationalStatus</h1></BSCard>
                    </BSCard>
                </BSCard>
                <BSCard Color="Color.Success" Class="m-2">
                    <BSCard CardType="CardType.Body">
                        <BSCard CardType="CardType.Title">Health Status</BSCard>
                        <BSCard CardType="CardType.Text"><h1>@Twin.HealthStatus</h1></BSCard>
                    </BSCard>
                </BSCard>
                <BSCard Color="Color.Warning" Class="m-2">
                    <BSCard CardType="CardType.Body">
                        <BSCard CardType="CardType.Title">Last Consumption</BSCard>
                        <BSCard CardType="CardType.Text"><h1>@Twin.Consumption</h1></BSCard>
                    </BSCard>
                </BSCard>
            </BSCol>
        </BSRow>
        <BSRow>
            <BSCol XS="8" Class="p-1">
                <BSCard>
                    <BSCard CardType="CardType.Header">Last Asset Alerts</BSCard>
                    <BSCard CardType="CardType.Body">
                        <!--alerts-->
                        <BSTable IsSmall="true" IsHoverable="true" IsResponsive="true">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">AlertCode</th>
                                    <th scope="col">Alert Description</th>
                                    <th scope="col">Count</th>
                                    <th scope="col">Level</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var alert in Alerts)
                                {
                                    <tr>
                                        <th scope="row">@alert.AlertDate</th>
                                        <td><h5><BSBadge Color="Color.Secondary">ALERT @alert.AlertCode</BSBadge></h5></td>
                                        <td><p><small>@alert.AlertDescription</small></p></td>
                                        <td><strong>@alert.AlertCount</strong></td>
                                        <td>
                                            <BSBadge Color="Color.Warning">@alert.AlertLevel</BSBadge>
                                        </td>
                                        <td><BSButton Color="Color.Success" IsOutline="true" OnClick="@(() => AlertAcknowledge(alert.AlertCode))" >Acknowledge</BSButton></td>
                                    </tr>
                                }

                            </tbody>
                        </BSTable>
                    </BSCard>
                    <BSCard CardType="CardType.Footer"><small>Last update: @LastTsAlerts</small></BSCard>
                </BSCard>
            </BSCol>

            <BSCol XS="4" Class="p-1">
                <!--Statistics-->
                <BSCard>
                    <BSCard CardType="CardType.Header">Reject Statistics</BSCard>
                    <BSCard CardType="CardType.Body">
                        <ChartJsPieChart @ref="_pieChartJs" Config="@_pieconfig" Width="600" Height="300" />
                    </BSCard>
                    <BSCard CardType="CardType.Footer"><small>Last update: @LastTsStatistics</small></BSCard>
                </BSCard>
            </BSCol>
        </BSRow>
     <!--
    <BSRow>
        <BSCol XS="12">
            <BSBasicForm>

                <label>Username</label>
                <BSBasicInput InputType="InputType.Text" PlaceHolder="Default Username" @bind-Value="@Sender" />

                <br />
                <label>Broadcast Message</label>
                <BSBasicInput InputType="InputType.Text" PlaceHolder="Default Username" @bind-Value="@BroadcastMessage" />
                <BSButton OnClick="@(async () => await BroadcastAsync())" IsActive="true">BROADCAST</BSButton>
            </BSBasicForm>

            <ul id="messagesList">
                <li>E QUINDI</li>
                @foreach (var message in Messages)
                {
                    <li>@message</li>
                }
            </ul>

            <p>RISPOSTA: </p>
            <div class="alert alert-warning">
                @Log
            </div>

            <div class="alert alert-info">
                @Message
            </div>
        </BSCol>
    </BSRow>
    -->
    </BSContainer>

@code {
    
}